.skeleton {
  height: 30rem;
}

.container {
  @include flexSort(column, null, null, 1.5rem);
}

.noEvent {
  border-radius: 1rem;
  border: 0.1rem solid #ddd;
  padding: 2rem;
}

.moreLinkContainer {
  @include flexSort(row, flex-end, null, null);
}

.moreLink {
  text-decoration-line: underline;
  text-underline-position: from-font;
}
