$spinner-size: 12rem;
$spinner-center: $spinner-size / 2;
$dot-size: 1.8rem;
$dot-radius: $dot-size / 2;
$base-delay: -0.036s;

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  @include flexSort(null, center, center, null);
  backdrop-filter: blur(0.2rem);
}

.loader {
  display: inline-block;
  position: relative;
  width: $spinner-size;
  height: $spinner-size;
  color: $primary;

  div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: $spinner-center $spinner-center;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      width: $dot-size;
      height: $dot-size;
      margin: -$dot-radius 0 0 -$dot-radius;
      border-radius: 50%;
      background: currentColor;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        animation-delay: $base-delay * $i;

        // 기존 위치 유지
        &:after {
          @if $i == 1 {
            top: 94px;
            left: 94px;
          } @else if $i == 2 {
            top: 101px;
            left: 84px;
          } @else if $i == 3 {
            top: 106px;
            left: 72px;
          } @else if $i == 4 {
            top: 108px;
            left: 60px;
          } @else if $i == 5 {
            top: 106px;
            left: 48px;
          } @else if $i == 6 {
            top: 101px;
            left: 36px;
          } @else if $i == 7 {
            top: 94px;
            left: 26px;
          } @else if $i == 8 {
            top: 84px;
            left: 18px;
          }
        }
      }
    }
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
