.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  @include flexSort(null, center, center, null);
  backdrop-filter: blur(0.2rem);
}

.loader {
  display: inline-block;
  position: relative;
  width: 12rem;
  height: 12rem;
  color: $primary;

  div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 6rem 6rem;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      margin: -9px 0 0 -9px;
      border-radius: 50%;
      background: currentColor;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    &:nth-child(1) {
      animation-delay: -0.036s;
      &:after {
        top: 94px;
        left: 94px;
      }
    }

    &:nth-child(2) {
      animation-delay: -0.072s;
      &:after {
        top: 101px;
        left: 84px;
      }
    }

    &:nth-child(3) {
      animation-delay: -0.108s;
      &:after {
        top: 106px;
        left: 72px;
      }
    }

    &:nth-child(4) {
      animation-delay: -0.144s;
      &:after {
        top: 108px;
        left: 60px;
      }
    }

    &:nth-child(5) {
      animation-delay: -0.18s;
      &:after {
        top: 106px;
        left: 48px;
      }
    }

    &:nth-child(6) {
      animation-delay: -0.216s;
      &:after {
        top: 101px;
        left: 36px;
      }
    }

    &:nth-child(7) {
      animation-delay: -0.252s;
      &:after {
        top: 94px;
        left: 26px;
      }
    }

    &:nth-child(8) {
      animation-delay: -0.288s;
      &:after {
        top: 84px;
        left: 18px;
      }
    }
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
