.layout {
  @include tablet {
    padding: 4rem 6rem;
  }

  @include smallDesktop {
    padding: 4rem 6rem;
  }
}

.container {
  @include flexSort(column, null, null, 3rem);

  @include smallDesktop {
    flex-direction: row;
    gap: 3rem;
  }
}

.formApplicationStatusContainer {
  @include flexSort(column, null, null, 3rem);

  @include smallDesktop {
    flex: 1;
  }
}
