.form {
  @include flexSort(column, null, center, null);
}

.inputContainer {
  @include flexSort(column, center, center, 2rem);
}

.emailInputContainer,
.certificationContainer,
.phoneNumberInputContainer {
  @include flexSort(row, null, flex-end, 1rem);
  width: 100%;
}

.emailBtn,
.certificationBtn {
  width: 7rem;
  height: 5rem;
}

.errorMessage {
  margin-top: 2rem;
}

.btnContainer {
  margin-top: 5rem;
}

.nextBtn {
  width: 12rem;
  height: 5rem;
}
