.form {
  @include flexSort(column, null, center, null);
}

.inputContainer {
  width: 100%;
  @include flexSort(column, center, center, 2rem);
}

.errorMessage {
  margin-top: 2rem;
}

.btnContainer {
  margin-top: 5rem;
  @include flexSort(row, center, null, 2rem);
}

.prevBtn,
.nextBtn {
  width: 12rem;
  height: 5rem;
}
