.container {
  @include flexSort(column, null, null, 2rem);
}

.title {
  color: #398148;
  @include font(2.3rem, 700, normal);

  @include tablet {
    font-size: 2.7rem;
  }

  @include smallDesktop {
    font-size: 3rem;
  }

  @include desktop {
    font-size: 3rem;
  }
}
