.container {
  border-radius: 1rem;
  border: 0.1rem solid #ddd;
  padding: 2rem;
  @include flexSort(column, null, center, 2rem);
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  margin-left: var(--slide-spacing);
}

.applyTitle {
  text-decoration-line: underline;
  text-underline-position: from-font;
}

.applyContentContainer {
  width: 100%;
  @include flexSort(column, null, null, 2rem);
}

.applyLink {
  background: #0bb964;
  width: 100%;
  @include flexSort(row, center, center, null);
  height: 5.4rem;
  border-radius: 0.6rem;
}
