.skeleton {
  width: 100%;
  height: 30rem;
}

.container {
  padding: 4rem;
  @include flexSort(column, null, null, 3rem);
}

.header {
  @include flexSort(row, space-between, center, null);
}

.createEvent {
  background-color: $primary;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.table {
  border: 0.2rem solid $primary;
  border-bottom: 0;
}

.tableHeaderContainer {
  background-color: $primary;
}

.tableHeader {
  padding: 2rem;
}

.tr {
  border-bottom: 0.2rem solid $primary;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.tableData {
  text-align: center;
  padding: 1.5rem;
}

.publish {
  @include flexSort(row, center, center, 1rem);
}

.btn {
  padding: 1rem 1.5rem;
}
