.container {
  @include flexSort(column, null, null, 2rem);
}

.title {
  color: #398148;
  @include font(2.3rem, 700, normal);

  @include tablet {
    font-size: 2.7rem;
  }
}

.contentContainer {
  @include flexSort(column, null, null, 1rem);

  @include tablet {
    gap: 2rem;
  }
}

.lockerStatusContainer {
  @include flexSort(row, flex-end, null, null);
}

.gridContainer {
  height: 33rem;
  overflow: scroll;
}
