.container {
  @include flexSort(row, center, center, null);
  width: 100%;
  aspect-ratio: 2 / 1;
  border-radius: 0.5rem;
}

.complete {
  background-color: #cccccc;
}

.applyAble {
  background-color: #00c571;
}

.locker {
  @include tablet {
    font-size: 2.5rem;
  }

  @include smallDesktop {
    font-size: 2.8rem;
  }

  @include desktop {
    font-size: 2.8rem;
  }
}
