.container {
  @include flexSort(row, null, null, null);
  height: 100vh;
}

.logoContainer {
  width: 55%;
  @include flexSort(column, center, center, null);
  background-color: $primary;
}

.logoTextContainer {
  @include flexSort(column, null, center, 2.5rem);
}

.title {
  font-size: 7rem;
}

.subTitle {
  font-size: 5rem;
}
