.skeleton {
  width: 100%;
  height: 20rem;

  @include smallDesktop {
    height: 30rem;
  }

  @include desktop {
    height: 40rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }

  @include smallDesktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
