.container {
  @include flexSort(column, null, null, 2rem);
}

.label {
  @include tablet {
    font-size: 1.7rem !important;
  }

  @include smallDesktop {
    font-size: 2rem !important;
  }

  @include desktop {
    font-size: 2rem !important;
  }
}

.input {
  @include tablet {
    font-size: 1.9rem !important;
  }

  @include smallDesktop {
    font-size: 2.1rem !important;
  }

  @include desktop {
    font-size: 2.1rem !important;
  }
}

.errorMessage {
  @include tablet {
    font-size: 1.5rem;
  }

  @include smallDesktop {
    font-size: 1.7rem;
  }

  @include desktop {
    font-size: 1.7rem;
  }
}

.btnContainer {
  @include flexSort(column, null, null, 1rem);
}

.saveBtn,
.applyBtn {
  height: 5rem;
}

.save,
.apply {
  @include tablet {
    font-size: 1.9rem;
  }

  @include smallDesktop {
    font-size: 2.1rem;
  }

  @include desktop {
    font-size: 2.1rem;
  }
}
