.pagination {
  margin-left: auto;
  @include flexSort(row, null, center, 1rem);
  margin-top: 2rem;
  font-size: 1.5rem;
}

.button {
  padding: 1rem 1.5rem;
  color: black;
  border-radius: 1rem;
}

.active {
  background: $primary;
  color: white;
}
