.button {
  @include flexSort(row, center, center, null);
  border-radius: 1rem;
  border: 0.1rem solid $primary;
}

.white {
  color: black;
  background-color: white;
}

.primary {
  color: white;
  background-color: $primary;
}

.gray {
  color: black;
  background-color: #f1f1f1;
  border: 0.1rem solid #e8e8e8;
}

.blue {
  color: white;
  background-color: #007bff;
}

.red {
  color: white;
  background-color: red;
}
