.header {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  border: 0.1rem solid #c1c1c1;
}

.contentContainer {
  padding: 2rem;
  border: 0.1rem solid #c1c1c1;
  border-top: 0rem;
  @include flexSort(column, null, null, 2rem);
  border-radius: 0 0 1rem 1rem;
}

.textarea {
  min-height: 20rem;
  height: auto;
}

.date {
  margin-left: auto;
}
