.linkSkeleton {
  width: 10rem;
  height: 5rem;
}

.skeleton {
  width: 30rem;
  height: 5rem;
}

.header {
  width: 100%;
  @include flexSort(row, space-between, center, null);
  border-bottom: 0.1rem solid black;
  padding: 4rem 5rem;
}

.logo {
  color: white;
  @include flexSort(row, null, center, 2rem);
}

.linkContainer {
  @include flexSort(row, null, center, 10rem);
}

.active {
  color: $primary;
}

.headerTitle {
  font-size: 2.5rem !important;
}

.departmentContainer {
  max-width: 30rem;
  font-size: 2.5rem;
  border: 0.1rem solid black;
  padding: 1rem 3rem;
  border-radius: 1rem;
  @include flexSort(row, center, center, null);
}
