.form {
  @include flexSort(column, null, center, null);
}

.inputContainer {
  @include flexSort(column, center, center, 2rem);
}

.emailInputContainer {
  @include flexSort(row, null, flex-end, 1rem);
  width: 100%;
}

.certificationBtn {
  width: 7rem;
  height: 5rem;
  @include font(1.3rem, 700, normal);
}

.errorMessage {
  margin-top: 2rem;
  @include font(1.3rem, 400, normal);
  color: red;
}

.btnContainer {
  margin-top: 5rem;
}

.nextBtn {
  width: 12rem;
  height: 5rem;
  @include font(1.5rem, 500, normal);
}
